<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>Servletpages.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editpat1</servlet-name>
        <servlet-class>Servletpages.editpat1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateCitizen</servlet-name>
        <servlet-class>Servletpages.ActivateCitizen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindNearest</servlet-name>
        <servlet-class>Servletpages.FindNearest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FingerScan1</servlet-name>
        <servlet-class>Servletpages.FingerScan1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FingerScanRegister</servlet-name>
        <servlet-class>Servletpages.FingerScanRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Capture</servlet-name>
        <servlet-class>Servletpages.Capture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Capture1</servlet-name>
        <servlet-class>Servletpages.Capture1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSPInfo</servlet-name>
        <servlet-class>Servletpages.GetSPInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendLocation</servlet-name>
        <servlet-class>Servletpages.SendLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPInfo</servlet-name>
        <servlet-class>Servletpages.SPInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMe</servlet-name>
        <servlet-class>Servletpages.TestMe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editpat1</servlet-name>
        <url-pattern>/editpat1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateCitizen</servlet-name>
        <url-pattern>/ActivateCitizen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindNearest</servlet-name>
        <url-pattern>/FindNearest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FingerScan1</servlet-name>
        <url-pattern>/FingerScan1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FingerScanRegister</servlet-name>
        <url-pattern>/FingerScanRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Capture</servlet-name>
        <url-pattern>/Capture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Capture1</servlet-name>
        <url-pattern>/Capture1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSPInfo</servlet-name>
        <url-pattern>/GetSPInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendLocation</servlet-name>
        <url-pattern>/SendLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPInfo</servlet-name>
        <url-pattern>/SPInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMe</servlet-name>
        <url-pattern>/TestMe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
